<table class="table table-striped table-bordered table-condensed">
        
    <thead>
        <tr>
            <th><input type="checkbox" name="" /></th>
            <th>id</th>
            <th>libelle du modele</th>
            <th>desciption du modele</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for modele in items %} 
            <tr>
                <td><input type="checkbox" name="" /></td>
                <td>{{modele.idMdLP}}</td>
                <td>{{modele.nomMdlP}}</td>
                <td>{{modele.descriptionMdlP}}</td>
                <td>{{modele.prixMdLP}}</td>
                <td><a href="{{ path('appolo_back_office_get', {'type': 'categorie','id' : modele.idMdLP }) }}">editer</a> |
                    <a href="{{ path('appolo_back_office_delete', {'type': 'categorie','id' : modele.idMdLP }) }}">supprimer</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
